<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Activity</key>
	<dict>
		<key>pay_feedback</key>
		<dict>
			<key>describ</key>
			<dict>
				<key>one</key>
				<string>支付100返回100</string>
			</dict>
			<key>format</key>
			<string>这是一个%{%any}%测试{%any}的{%any}数据</string>
			<key>pay_success</key>
			<string>支付成功</string>
			<key>price</key>
			<array>
				<string>100</string>
				<string>200</string>
				<string>300</string>
			</array>
			<key>title</key>
			<string>支付回馈</string>
		</dict>
	</dict>
	<key>common</key>
	<dict>
		<key>send_success</key>
		<string>发送成功</string>
		<key>text</key>
		<string>{1002aa\naaa
2001
\n \n
{1004hhhhh}yyyss}</string>
	</dict>
</dict>
</plist>
